
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Restart</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" action="/restart" method="POST">
      <div class="text-center mb-4">
       <h1 class="h3 mb-3 font-weight-normal">Restart</h1>
        {% if message %}<p>{{ message|safe }}</p>{% endif %}
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Restart</button>
      <p class="mt-5 mb-3 text-muted text-center"><a href="https://github.com/mak3r/turnkey">Rancher Turnkey</a></p>
    </form>
  </body>
